.add-card {
.input {
    width: 100%;
    margin-bottom: 4px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.textarea {
    width: 100%;
    margin-bottom: 4px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.button {
    width: 50%;
}
}