.logs-popup {
    padding: 15px;

    .header {
        text-align: center;
        font-size: 25px;
        font-family: Poppins SemiBold;
    }

    .logs-container {
        margin-top: 20px;
        .log-item{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .log-action {
                font-family: Poppins Medium;
            }
        }
        
        .no-logs{
            text-align: center;
            font-family: Poppins Medium;      
        }

    }
}

.delete-popup {
    .header {
        text-align: center;
        font-size: 25px;
        font-family: Poppins SemiBold;
        color: #dd0000;
    }

    .delete-container {
        .title {
            font-family: Poppins Medium;
            text-align: center;
            font-size: 18px;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
    }
}