@use './pages/Board';
@use './components/AddColumn.scss';
@use './components/Layout';
@use './components/modal';


.input {
    width: 300px;
    margin-bottom: 4px;
    padding: 5px 25px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}    

.error {
    margin-left: 2px;
    color: red;
    font-family: Poppins Regular;
    font-size: 14px;
}

.input {
    width: 100%;
    margin-bottom: 4px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.textarea {
    width: 100%;
    margin-bottom: 4px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.button {
    width: 50%;
}
