@use './pages/Board';
@use './components/AddColumn.scss';
@use './components/Layout';
@use './components/modal';

.input {
    width: 300px;
    margin-bottom: 4px;
    padding: 5px 25px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}    

.error {
    margin-left: 2px;
    color: red;
    font-family: Poppins Regular;
    font-size: 14px;
}

.input {
    width: 100%;
    margin-bottom: 4px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.textarea {
    width: 100%;
    margin-bottom: 4px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

.button {
    width: 50%;
}


 .tag-badge {
          background: #f3f3f3;
          padding: 2px 6px;
          border-radius: 5px;
          font-size: 14px;
          margin-top: 4px;

          .tag-select {
            color: #666;         
          }    
        }

         
        .check-icon, .cancel-icon {
          background: none;
          border: none;
        }

        .check-icon {
          color: #008000;
        }

        .cancel-icon {
          color: #ff0000;
        }